@import "settings";
@import "../node_modules/bootstrap-scss/bootstrap";

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100vh;
}

.vis-container {
	padding: 1rem;
	min-height: 600px;
}

#map {
	width: 100%;
	height: 100%;
}

#map > path {
	stroke: black;
	stroke-width: 1px;
	fill: lightgrey;
	cursor: pointer;
}

#map > path.hover {
	fill: orange;
}

.hidden {
	display: none;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

