@import "settings";
@import "../node_modules/bootstrap-scss/bootstrap";

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100vh;
}

.vis-container {
	padding: 1rem;
	min-height: 600px;
}

#map {
	width: 100%;
	height: 100%;
}

#map > path {
	stroke: black;
	stroke-width: 1px;
	fill: lightgrey;
	cursor: pointer;
}

#map > path.hover {
	fill: orange;
}

.hidden {
	display: none;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


#sun_container  {
	.lower-capacity {
		opacity: 0.2;
	}

  	.legend {
		cursor: pointer;
		font: 15px sans-serif;
		fill: black;
		font-weight: bold;
	}

	.bar-text {
      	fill: black;
		font: 12px sans-serif;
		font-weight: bold;
	}

	.rect-normal {
		fill: #f4a582;

	}

	.rect-compare {
		fill: #ca0020;
	}
}
#rain_container  {
	.lower-capacity {
		opacity: 0.2;
	}

	.legend {
		cursor: pointer;
		font: 15px sans-serif;
		fill: black;
		font-weight: bold;
	}

	.bar-text {
		fill: black;
		font: 12px sans-serif;
		font-weight: bold;
	}

	.rect-normal {
		fill: #92c5de;

	}

	.rect-compare {
		fill: #0571b0;
	}
}
