@import "settings";
@import "../node_modules/bootstrap-scss/bootstrap";

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100vh;
}

#map_container {
	padding: 1rem;
	min-height: 600px;
}

#map {
	width: 100%;
	height: 100%;
}

#map > path {
	stroke: black;
	stroke-width: 1px;
	fill: lightgrey;
	cursor: pointer;
}

#map.hover > path:not(.hover) {
	fill-opacity: .7;
}

#map > path.hover {
	fill-opacity: 1;
	filter: saturate(2) drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
}

.label {
	paint-order: stroke;
	z-index: 10;
	pointer-events: none;
	text-anchor: middle;
	font-size: 15px;
	font-family: Open Sans, sans-serif;
	font-weight: 900;
	fill: white;
	stroke: black;
	stroke-width: 3;
}
